<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/tableStyle.ejs') %>
    </head>
    <body>  
        <%- include('../partials/navbarUser.ejs') %>
        <h4><a href= "/songs/<%= id %>">Add Songs</a></h4>
        <table> 
            <tr>
                <th> title </th>
            </tr>
            <% if(songs.length !== 0) { %>
            <% songs.forEach(e => { %>
                <tr>    
                    <td style = "height: 30px"> <%= e.title %> </td>
                </tr>
                <tr>
                <td>
                    <audio controls >
                    <source src="<%- e.url %>" type="audio/ogg">
                    <source src="<%- e.url %>" type="audio/mpeg">
                    </audio>
                    </td>
                </tr>
            <% }) %>
            <% } %>
        </table>
      
    </body>   
</html>