<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/navbarUser.ejs') %>
    <%- include('../partials/tableStyle.ejs') %>
</head>
<body>
    <h3>Your Playlists</h3>
    <table>
    <% if (user.Playlists != undefined) {user.Playlists.forEach((playlist) => {%>
        <tr>
            <td> <a href = '/playlists/list/<%= playlist.id %>'> <%= playlist.name%> </a> </td>
            <td> <a href = "/playlists/delete/<%= playlist.id %>">Delete</a> </td>
        </tr>
    <%})}%>
    </table>
    <h4>Add Playlist</h4>
    <form method="POST">
        <input type="text" name="Playlist Name"><br><br>
        <button type = "submit"> Add </button>
    </form>
</body>
</html>