<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/tableStyle.ejs') %>
</head>
<header>
    <%- include('../partials/navbarUser.ejs') %>
</header>
<body>
    <table>
        <tr>
            <th>Title</th>
            <th>Song Tag</th>
            <th></th>
        </tr>
        <% song.forEach(e => { %>
            <tr>
                <td> <%= e.title %> </td>
                <td> <%= e.songTag %> </td>
                <td> 
                    <form action = "/songs/<%= id %>/<%= e.id %>" method = "POST">
                        <button type= "submit">Add Song</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </table>
</body>
</html>